.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: white;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a::after {
  border-radius: 50%;
}
